[v-cloak] {
  display: none;
}


#app .md-image.md-loaded {
  transition: none;
}


#app .md-snackbar .md-button {
    margin: -8px -22px;
}


#app .auth form {
  margin: 30px;
  text-align: center;
}
#app .auth form > .md-button{
  width: 100%;
  margin: 25px 0;
}
#app .auth form > .md-layout {
  margin: 20px 0;
}


#app .main {
  height: 100vh;
  padding: 64px 0 0 0;
}

#app .main header {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
}

#app .main main .md-list .md-icon {
  margin: 6px;
}
#app .main main .md-list .md-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

#app .main main .md-item .md-text {
  position: absolute;
  top: 0;
  height: 100%;
  width: 307px;
  padding: 88px 16px 30px;
  border: none;
  outline: none;
  font: inherit;
  font-size: 16px;
  letter-spacing: 0.15px;
  resize: none;
}

#app .main main .md-item .md-button {
  right: 12px;
}
