<!doctype html>
<html>

  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />


    <link rel="manifest" href="/manifest.json">

    <meta name="theme-color" content="#ffffff">

    <link rel="shortcut icon" href="/images/icons/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/icons/favicon-96x96.png">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="apple-mobile-web-app-title" content="Notes">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="192x192" href="/images/icons/apple-icon-192x192.png">

    <link rel="icon" type="image/png" sizes="192x192"  href="/images/icons/android-icon-192x192.png">


    <title>Notes</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="node_modules/vue-material/dist/vue-material.css" />

    <link rel="stylesheet" href="app.css" />
  </head>

  <body>
    <div id="app" v-cloak>

      <section v-show="route.view === 'auth'" class="auth">
        <auth ref="auth" @user="setUser($event)" @action="setInfo()" @message="setInfo($event)"></auth>
      </section>

      <section v-if="route.view === 'main'" class="main">
        <md-theme md-name="minimal">

          <header>
            <md-whiteframe md-elevation="4">
              <md-toolbar v-if="route.section === 'item'">
                <md-button @click.native="$refs.notes.set()" class="md-icon-button" >
                  <md-icon>arrow_back</md-icon>
                </md-button>
                <h2 class="md-title" style="flex:1">{{ this.$refs.notes.title }}</h2>
                <md-button @click.native="$refs.notes.remove()" class="md-icon-button">
                  <md-icon>remove</md-icon>
                </md-button>
              </md-toolbar>

              <md-toolbar v-else>
                <md-button @click.native="$refs.sidebar.open()" class="md-icon-button" >
                  <md-icon>menu</md-icon>
                </md-button>
                <h2 class="md-title" style="flex:1">Notes</h2>
                <md-button @click.native="$refs.notes.select()" class="md-icon-button">
                  <md-icon>add</md-icon>
                </md-button>
              </md-toolbar>
            </md-whiteframe>
          </header>

          <aside>
            <md-sidenav ref="sidebar" @open="setInfo()" class="md-left md-fixed">
              <md-toolbar>
                <md-list>
                  <md-list-item>
                    <md-avatar class="md-avatar-icon">
                      <md-image v-if="user.photoURL" :md-src="user.photoURL"></md-image>
                      <md-icon v-else>face</md-icon>
                    </md-avatar>
                    <div class="md-list-text-container">
                      <span>{{ user.displayName }}</span>
                      <span>{{ user.email }}</span>
                    </div>
                  </md-list-item>
                </md-list>
              </md-toolbar>
              <md-divider></md-divider>
              <md-list>
                <md-list-item @click.native="$refs.auth.signOut()">
                  <md-icon>exit_to_app</md-icon>
                  <span>Sign Out</span>
                </md-list-item>
              </md-list>
            </md-sidenav>
          </aside>

          <main>
            <notes ref="notes" :path="`notes/${(user || {}).uid}`" :size="100" order="modified" @section="route.section = $event"></notes>
          </main>
        </md-theme>

      </section>

      <md-snackbar ref="snackbar" @close="theme = undefined" md-position="bottom center" :md-duration="3000">
        <span>{{ info }}</span>
        <md-button @click.native="$refs.snackbar.close()"><md-icon>close</md-icon></md-button>
      </md-snackbar>

    </div>

    <script src="node_modules/vue/dist/vue.min.js"></script>
    <script src="node_modules/vuefire/dist/vuefire.min.js"></script>
    <script src="node_modules/vue-material/dist/vue-material.js"></script>

    <script src="node_modules/firebase/firebase.js"></script>

    <script src="app.js"></script>
  </body>

</html>

