<!doctype html>
<html>

  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />

    <title>Notes</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="https://unpkg.com/vue-material@0.7.1/dist/vue-material.css" />

    <link rel="stylesheet" href="./app.css" />
  </head>

  <body>
    <div id="app" v-cloak>

      <section v-show="route.view === 'auth'" class="auth">
        <auth ref="auth" @user="setUser($event)" @action="setInfo()" @message="setInfo($event)"></auth>
      </section>

      <section v-if="route.view === 'main'" class="main">
        <md-theme md-name="minimal">

          <header>
            <md-whiteframe md-elevation="4">
              <md-toolbar v-if="route.section === 'item'">
                <md-button @click.native="$refs.notes.set()" class="md-icon-button" >
                  <md-icon>arrow_back</md-icon>
                </md-button>
                <h2 class="md-title" style="flex:1">{{ $refs.notes.title }}</h2>
                <md-button @click.native="$refs.notes.remove()" class="md-icon-button">
                  <md-icon>delete</md-icon>
                </md-button>
              </md-toolbar>

              <md-toolbar v-else>
                <md-button @click.native="$refs.sidebar.open()" class="md-icon-button" >
                  <md-icon>menu</md-icon>
                </md-button>
                <h2 class="md-title" style="flex:1">Notes</h2>
                <md-button @click.native="$refs.notes.select()" class="md-icon-button">
                  <md-icon>add</md-icon>
                </md-button>
              </md-toolbar>
            </md-whiteframe>
          </header>

          <aside>
            <md-sidenav ref="sidebar" @open="setInfo()" class="md-left md-fixed">
              <md-toolbar>
                <md-list>
                  <md-list-item>
                    <md-avatar class="md-avatar-icon">
                      <md-image v-if="user.photoURL" :md-src="user.photoURL"></md-image>
                      <md-icon v-else>face</md-icon>
                    </md-avatar>
                    <div class="md-list-text-container">
                      <span>{{ user.displayName }}</span>
                      <span>{{ user.email }}</span>
                    </div>
                  </md-list-item>
                </md-list>
              </md-toolbar>
              <md-divider></md-divider>
              <md-list>
                <md-list-item @click.native="$refs.auth.signOut()">
                  <md-icon>exit_to_app</md-icon>
                  <span>Sign Out</span>
                </md-list-item>
              </md-list>
            </md-sidenav>
          </aside>

          <main>
            <notes ref="notes" :path="`notes/${(user || {}).uid}`" :size="100" order="modified" @section="route.section = $event"></notes>
          </main>
        </md-theme>

      </section>

      <md-snackbar ref="snackbar" @close="theme = undefined" md-position="bottom center" :md-duration="3000">
        <span>{{ info }}</span>
        <md-button @click.native="$refs.snackbar.close()"><md-icon>close</md-icon></md-button>
      </md-snackbar>

    </div>

    <script src="https://unpkg.com/vue@2.1.10/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vuefire@1.3.1/dist/vuefire.min.js"></script>
    <script src="https://unpkg.com/vue-material@0.7.1/dist/vue-material.js"></script>

    <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>

    <script src="./app.js"></script>
  </body>

</html>

